

<header>
  <div class="menu-bar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#"><button mat-raised-button color="primary" style="background:rgba(142, 23, 23, 0.804)">
          About Us</button></a></li>
      <li><a href="#"><button mat-raised-button color="primary" style="background:rgba(142, 23, 23, 0.804)">
          Services</button></a></li>
      <li><a href="#"><button mat-raised-button color="primary" style="background:rgba(142, 23, 23, 0.804)">
          Investors</button></a></li>
      <li><a href="#"><button mat-raised-button color="primary" style="background:rgba(142, 23, 23, 0.804)">
          Courses</button></a></li>
      <li><a href="#"><button mat-raised-button color="primary" style="background:rgba(142, 23, 23, 0.804)">
          Contact</button></a></li>
      <li><label><button mat-raised-button color="secondary" style="background:red"><input type="search" 
        placeholder="Learning Without Walls!"> Search</button></label></li>
    </ul>
  </div>
</header>
<div style="margin:20px 0 0px 500px;">
   <button mat-raised-button color="primary">Login</button>
  <div class="push-over">
   <a href="#"><i></i><button mat-raised-button color="secondary" style="background: white">
    Sign Up</button></a>
    <div class="sub-menu-1">
      <ul>
        <li><a href="#">Student</a></li>
        <li><a href="#">Tutor</a></li>
       <!-- <li><a href="#">Admin</a></li>-->
      </ul>
    </div>
     <!-- <div>
  <button mat-raised-button color="secondary" style="background: white">Sign Up</button>
    </div>
    <a href="#"><i></i><button mat-raised-button color="secondary" style="background: white">
    Sign Up</button></a>
  -->